@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN Black";
  src: url("/fonts/DIN-BlackAlternate.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "AaHongYunShouShu";
  src: url("/fonts/AaHongYunShouShu.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Condensed";
  src: url("/fonts/D-DINCondensed.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Condensed";
  src: url("/fonts/D-DINCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF5E6;
}
